.center-container {
    /* height: 100vh; */
    margin: 8vh;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
}

.p-field {
    margin-bottom: 15px;
}

.error-massage {
    font-size: small;
    color: red;
    border-color: red;
}

.alert {
    background-color: #fed3d3;
    color: #820000;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* Add more styling as needed */